* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: white;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 10;
}

.navbar {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.carousel-inner {
  margin-top: 2rem;
}

.carousel-item img {
  height: 180px;
}

.right-icon,
.left-icon {
  font-size: 3rem;
  color: black;
}


.card-deck {
  width: 95%;
  margin: auto;
  margin-top: 2rem;

}

.card-deck .card {
  border-radius: 20px;
  border-top: none;
  filter: drop-shadow(0px 30px 10px #D6F1FF);
}

.card-deck .card .card-body {
  text-align: center;
}

.card-deck .card .card-body h5 {
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
}


.whyEduvizo {
  width: 90%;
  margin: auto;
  margin-top: 80px;
}

.whyEduvizo h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #0091DC;
}

.whyEduvizo p {
  font-weight: 400;
  width: 90%;
}



.reallyNeedEduvizo {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

/* .question-imgVector{
    display: flex;
} */


.img-vector img {
  height: 200px;
}

.question h2 {
  font-size: 2.5rem;
  font-weight: bolder;
}

.question-para {
  color: #0091DC;

}

.question .para-1 {
  font-size: 1.25rem;
}

#question-answer-heading{
  background-color: #0091DC;
  height: 100px;
  display: flex;
  justify-content: center;
}

#question-answer-heading h1{
  color: white;
  margin: auto;
}

.outer-div-progress {

  width: fit-content;
  position: relative;
}

.progress {
  width: 150px;
  height: 150px !important;
  float: left;
  line-height: 150px;
  background: gray;
  margin: 20px;
  box-shadow: none;
  position: relative;
  border-radius: 100%;

  border: 1px solid gray;
}



.progress-para {
  z-index: 2;
  position: absolute;
  top: 168px;
  left: 50px;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #F1FAFF;
  font-size: 24px;
  color: #007FFF;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}

.progress.yellow .progress-bar {
  border-color: #F21F42;
}

.progress.yellow .progress-right .progress-bar {

  animation: loading-1 1.8s linear forwards;
}

.progress.yellow .progress-left .progress-bar {
  animation: none;
}


.progress.yellow2 .progress-bar {
  border-color: #F21F42;
}

.progress.yellow2 .progress-right .progress-bar {

  animation: loading-2 1.8s linear forwards;
}

.progress.yellow2 .progress-left .progress-bar {
  animation: none;
}


.progress.yellow3 .progress-bar {
  border-color: #F21F42;
}

.progress.yellow3 .progress-right .progress-bar {

  animation: loading-3 1.8s linear forwards;
}

.progress.yellow3 .progress-left .progress-bar {
  animation: none;
}


.progress.yellow4 .progress-bar {
  border-color: #F21F42;
}

.progress.yellow4 .progress-right .progress-bar {

  animation: loading-4 1.8s linear forwards;

}

.progress.yellow4 .progress-left .progress-bar {
  animation: none;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(50deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(45deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}


.card-img-top {
  width: 50%;
  margin: auto;
  border-radius: 100%;
}

.student-rating {
  margin-top: 100px;
  position: relative;

}

.student-rating h1 {
  font-size: 3rem;
  text-align: center;
}

.student-rating .card-deck .card .card-title {
  color: #0091DC;
  font-weight: 400;
}

 



.student-rating .card-deck .card {
  border-radius: 20px;
  filter: none;
  
}

.student-rating .blue-box {
  height: 21vh;
  width: 100%;
  position: absolute;
  background-color: #0091DC;
  top: 150px;
  z-index: -5;
}

.download-rating {
  position: absolute;
  display: flex;
  top: 60%;
  width: 60%;
}

.download-rating .vertical-line {
  background-color: white;
  height: 100px;
  width: 2px;
  margin: auto;
}

.download-rating h2 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.download-rating p {
  color: white;
}

.checked {
  color: #F9AF2A;
}

.rating .rating-star .half-star {
  color: #F9AF2A;
}

.download-rating h3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.download {
  width: 45%;
  margin: auto;

  text-align: center;
}

.rating {
  width: 45%;
  margin: auto;
  text-align: center;

}

.about-us-div {

  width: 100%;
  margin: auto;
  margin-top: 100px;
}



.blue-box-title-section {
  background-color: #0091DC;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}


.about-us-div .about-title {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: white;
  width: 50%;

  margin: auto;
}

.about-us-div .about-info {
  font-size: 1.25rem;
  text-align: justify;
  width: 90%;
  margin: auto;
}

.about-info  i {
  color: gold;
  font-size: 1.25rem;
}

.about-us-div .founderCofounder .card-deck {
  width: 100%;
}

.about-us-div .founderCofounder .card-deck .card {
  filter: none;
  /* box-shadow: 0 0 5px 2px grey; */
  border: none;
}

/* .about-us-div .founderCofounder .card-deck .card .linkedin-btn {
  background-color: #F9AF2A;
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: 5rem;
} */

.about-us-div .founderCofounder .card-deck .card .linked-in-profile-icon {
  font-size: 3rem;
  color: #0A66C2;
  cursor: pointer;
}

.contact-us-div {
  margin-top: 100px;
  height: 100px;
  width: 100%;
  background-color: #0091DC;
  z-index: 8;
  text-align: center;
}

.contact-us-div .contact-us {
  width: 50%;
  height: 100%;

  margin: auto;
  display: flex;
  justify-content: center;
}

.download-rating .contact-img {
  width: 50%;
}

.download-rating .contact-img img {
  width: 80%;
}

.download-rating {

  width: 100%;
  margin: auto;
}


.contact-us-div .contact-us h1 {
  font-size: 3rem;
  color: white;
  margin: auto;

}





.contact-form {

  height: 110vh;
  display: flex;
  flex-direction: column;
}

.form-page {
  background: rgba(0, 145, 220, 0.09);
  width: 70%;
  margin: auto;

  padding: 40px;
}




.contact-form .form-page .btn {
  background-color: #F9AF2A;
  border-color: #F9AF2A;
  width: 300px;

  text-align: center;
}

.email-details {

  height: 200px;
  width: 20%;
  margin: auto;
  text-align: center;
}

.form-page h1 {
  font-size: 3rem;
  color: #0091DC;
}

.form-page label {
  color: #0091DC;
  font-weight: 400;
}

.email-details h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.email-details p {
  color: #0091DC;
}

.connect-brands {

  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.connect-brands .fa-facebook {
  color: #2153AD;
  font-size: 2rem;
}


.connect-brands .fa-linkedin {
  color: #0966C2;
  font-size: 2rem;
}

.connect-brands .fa-square-instagram {
  color: #FC71A3;
  font-size: 2rem;
}


footer .footer .main-logo {
  display: flex;

  justify-content: center;
}

footer .footer .main-logo img {
  width: 7rem;
}


footer .footer .tutor-service-about {
  display: flex;

  justify-content: space-around;
  width: 60%;
  margin: auto;
  color: #2681B0;
}

footer .footer .contact-use {
  display: flex;

  justify-content: space-around;
  width: 60%;
  margin: auto;
  color: #2681B0;
}



.border-box .accordion-item .accordion-button {
  border: 1px solid #F4FCFF;
  height: 10vh;
  border-radius: calc(1.25rem - 1px);
  background-color: #F4FCFF;
  position: relative;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: calc(1.25rem - 1px);
  border-bottom-left-radius: calc(1.25rem - 1px);
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color:#F4FCFF;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.13);
}





.accordion-button i{
  position: absolute;
  right: 18px;
  font-size: 1.5rem;
  background-color:#F4FCFF;
  z-index: 5;
}

.border-box .accordion-body{
  border: 1px solid #F4FCFF;
  border-radius: calc(1.25rem - 1px);
}

.carousel-inner{

  margin-top: 0.25rem;
}

.card-button {
  background-color: #6dc3ee;
  padding: 5px;
  border-radius: 10px;
  margin-top: 0.75rem;
  width: 40%;
}

.card-decks-div a:hover {
  color: black;
}

.paragraph-image {
display: flex;
}

.paragraph-image .why-choose-us-section{
  width: 50%;
}

.paragraph-image .why-choose-us-section .btn-outline-primary {
  color: black;
  border-color: #0d6efd;
}

.why {
  font-size: 1.75rem;
}

.choose-title {
  color: #0091DC;
  font-size: 1.75rem;
  font-weight: 500;
}

.paragraph-image img{
  width: 50%;
}

.margin-bottom-btn {
  margin-top: 0.5rem;
}

.arrow-info {
  display: flex;
  justify-content: space-around;
}

.paragraph-image .arrow-info .arrow-vector {
  width: 4%;
  height: 4%;
}

.our-services-div {
  width: 90%;
  margin: auto;
}



.our-services-div .services .service-1{
  display: flex;
}

.seminar {
  position: relative;
  width: 50%;
  display: flex;
 
}
.seminar .vect-1-absolute {
  position: absolute;
  width: 4rem;
  top: 17px;
  left: 80px;
  
}
.seminar p{
  font-size: 1.5rem;
 
  width: 100%;
  text-align: center;
  margin: auto;
}

.seminar svg {
  padding-left: 10%;
}

.session {
  position: relative;
  width: 50%;
  display: flex;
 
}
.session .vect-2-absolute {
  position: absolute;
  width: 4rem;
  top: 32px;
  left: 80px;
}

.session .session-img{
  position: absolute;
  width: 4rem;
  top: 22px;
  left: 80px;
}
.session p{
  font-size: 1.5rem;
 
  width: 100%;
  text-align: center;
  margin: auto;
}

.session svg {
  padding-left: 10%;
}

.our-services-div {
  width: 100%;
}

.our-services-div .services{
  width: 90%;
  margin: auto;
}

.our-services-div .services .service-2{
  display: flex;
}

.our-services-div .services .service-3{
  display: flex;
}

.our-services-div-heading {
  text-align: center;
  background-color: #0091DC;
  width: 100%;
}

.our-services-div h3 {
  font-size: 3rem;
  width: 90%;
  margin: auto;
}

.absolute-whatsapp-icon {
  position: fixed;
  z-index: 20;
  font-size: 2.5rem;
  bottom: 20px;
  right: 15px;
  background-color:#25D366;
  color: white;
  padding: 7px;
  border-radius: 100%;
  cursor: pointer;
}



.absolute-whatsapp-icon .whatsapp-tooltip {
  position: fixed;
  bottom: 30px;
  right: 75px;
  font-size: 1rem;
  color:#007FFF;
  visibility: hidden;
}

.absolute-whatsapp-icon:hover .whatsapp-tooltip{
  visibility: visible;
}


.img-logo {
  width: 6rem; 
  height: 4rem;
}

.container {
  width: 90%;
  height: 250px;
  border: none;
  white-space:pre-wrap;
  margin: auto;
  
}

.item {
  background-color: white;
 /* word-wrap: break-word; */
  width: 500px;
  height: 200px;
padding: 10px;
  margin: auto;
  margin-left: 20px ;
  border-radius: 20px;
  border: 1px solid rgb(221, 213, 213);
}

.item p {
  text-align: justify;
}

.item h5 {
  font-size: 1.5rem;
  color: #007FFF;
  text-align: center;
}




/* Flex */
.flex {
  display: flex;
  flex-wrap: nowrap; 
  overflow: auto;
  overflow-y: hidden;
}
.flex-item {
  flex: 0 0 auto;
}

.seminar, .session {
  background-color: #F4FCFF;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

@media screen and (max-width: 600px)


/*===============Mobile==================*/
  {
    .item {
      width: 300px;
    }

    .img-logo {
      width: 6rem; 
      height: 4rem;
    }
    
  .carousel-inner {
    margin-top: 1rem;
  }

  .right-icon,
  .left-icon {
    font-size: 1rem;
    color: black;
  }

  .whyEduvizo p {
    font-weight: 400;
    width: 100%;
  }

  .whyEduvizo img {
    width: 100%;
  }

  .download-rating {
    top: 160%;
    width: 100%;
    left: 1%;


  }


  .download-rating .download {
    text-align: center;

  }

  .download-rating .rating {
    text-align: center;

  }

  .download-rating p {
    color: black;
  }

  .download-rating .download h2 {
    color: black;
  }

  .download-rating .rating h3 {
    color: black;
  }

  .download-rating .vertical-line {
    background-color: black;
  }


  .about-us-div {

    width: 100%;
    margin: auto;
    margin-top: 80px;
  }

  .about-us-div .about-title {
    font-size: 2rem;
   
  }

  .contact-us-div .contact h1 {
    font-size: 2rem;
  }

  .contact-us-div .contact-us h1 {
    font-size: 2rem;
  }

  .contact-form {
    flex-direction: column;
  }

  .contact-form .form-page .btn {
    width: 100%;
  }

  .form-page h1 {
    font-size: 2rem;
  }

  .form-page {
    background: none;

    padding: 0px;
  }

  .email-details {
    width: 90%;
  }

  .download-rating .contact-img {
    display: none;

  }

  .paragraph-image {
    display: flex;
    flex-direction: column;
    }
    
    .paragraph-image p{
      width: 100%;
    }

    .paragraph-image img{
      width: 100%;
    }

    .margin-up-btn {
      margin-bottom: 0.5rem;
    }

    .margin-bottom-btn {
      margin-top: 0.1rem;
    }

    .paragraph-image .why-choose-us-section {
      width: 100%;
    }
    .arrow-info {

      justify-content: space-between;
    }

    .arrow-info p{
      width: 90%;
    }
    
    .paragraph-image .arrow-info .arrow-vector {
      width: 5%;
      height: 5%;
    }

    .student-rating .blue-box {
      display: none;
    }

  
    .our-services-div .services .service-1{
      flex-direction: column;
    }

    .seminar, .session {
      width: 100%;
    }

    .seminar p{
      margin-left: -75px;
      font-size: 1rem;
      text-align: start;
    }
    
    .session p{
      margin-left: -75px;
      font-size: 1rem;
      text-align: start;
    }
   

    .seminar .vect-1-absolute {
      top: 24px;
      left: 33px;
      
    }

    .session .vect-2-absolute {
      top: 34px;
      left: 35px;
    }

    .our-services-div .services .service-2 {
      flex-direction: column;
    }

    .session .session-img{
     
      top: 24px;
      left: 35px;
    }

    .our-services-div .services .service-3{
     flex-direction: column;
    }

    .seminar svg {
      padding-left: 3%;
    }

    .session svg {
      padding-left: 3%;
    }
    

    .our-services-div .services{
      width: 90%;
      margin: auto;
      margin-left: 10px;
    }
}